<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>excellent dental clinic</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="/Content/lib/animate/animate.min.css" />
    <link rel="stylesheet" href="/Content/lib/animate/animate.min.css" />
    <link href="/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/Content/css/style.css" rel="stylesheet">
</head>

<body id="bgbody">

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" id="Loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a id="topinfo" href="https://maps.app.goo.gl/zpg74gkn1nqznoYB6" class="text-muted small me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Find A Location</a>
                    <a id="topinfo" href="tel:+968-95916792" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+968-95916792, +968-96465871</a>
                    <a id="topinfo" href="akifminhaj@gmail.com" class="text-muted small me-0"><i class="fas fa-envelope text-primary me-2"></i>akifminhaj@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <div class="d-flex justify-content-end ms-2">
                        <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/people/Excellent-Dental-Clinic/100090170377056/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href="https://www.instagram.com/excellentdentalmct/?__d=1%3Futm_source%3Dig_embed"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href="https://www.instagram.com/excellentdentalmct/?__d=1%3Futm_source%3Dig_embed"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar & Hero Start -->
    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">

            <div class="row" style="display:inline;">
                <img src="/Content/img/Elogo.png" style="display:inline;height:80px;width:120px" alt="Logo">
                <a href="index.html" class="navbar-brand p-0">
                    <h4 class="text d-inline fw-bolder" style="color: #0e1d23; font-weight: 400">EXCELLENT DENTAL CLINIC & ORTHODONTIC CENTRE</h4>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a id="menutop" href="index.html" class="nav-item nav-link active">Home</a>
                    <a id="menutop" href="about.html" class="nav-item nav-link">About</a>

                    <!-- Dropdown for Services -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:700;font-size:20px">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="Orthodontics.html">Orthodontics</a></li>
                            <li><a class="dropdown-item" href="DentalImplants.html">Dental Implants</a></li>
                            <li><a class="dropdown-item" href="ScalingPolish.html">Teeth Whitening-Scaling & Polishing</a></li>
                            <li><a class="dropdown-item" href="RootFillExtrac.html">Root Canal-Filling-Extraction </a></li>
                            <li><a class="dropdown-item" href="CrownBridge.html">Teeth Crown & Bridge</a></li>
                            <li><a class="dropdown-item" href="Childdental.html">Child Dental Care</a></li>
                            <li><a class="dropdown-item" href="GumSmileJewellery.html">Gum Treatment-Smile Design-Dental Jewellery</a></li>
                        </ul>
                    </div>
                    <!-- End of Dropdown -->

                    <a id="menutop" href="/View/contact.html" class="nav-item nav-link">Contact Us</a>
                </div>
                <a id="menutop" href="https://wa.me/+96895916792" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Get Started</a>
            </div>
        </nav>

        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">

            <div class="header-carousel-item">
                <img src="../Content/img/carousel-2.jpg" class="img-fluid w-100" alt="Imageslider">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-12 animated fadeInUp">
                                <div class="text-center">
                                    <h4 id="slidertext" class="text-primary text-uppercase fw-bold mb-4">Welcome To </h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">EXCELLENT DENTAL CLINIC & ORTHODONTIC CENTRE</h1>
                                    <p class="mb-5 fs-5">
                                        Your Journey to a Healthier, Brighter Smile Starts Here
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-carousel-item">
                <img src="../Content/img/carousel-1.jpg" class="img-fluid w-100" alt="Imageslider">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-xl-12 animated fadeInLeft">
                                <div class="text-sm-center">
                                    <h4 id="slidertext2" class="text-primary text-uppercase fw-bold mb-6">Committed to Excellence in Every Smile </h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">EXCELLENT DENTAL CLINIC & ORTHODONTIC CENTRE</h1>
                                    <p class="mb-5 fs-5">
                                        Smile Brighter with Our Expert Dental Team!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-carousel-item">
                <img src="../Content/img/carousel-3.jpg" class="img-fluid w-100" alt="Imageslider">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-12 animated fadeInUp">
                                <div class="text-center">
                                    <h4 id="slidertext2" class="text-primary text-uppercase fw-bold mb-4">Healthy Teeth, Happy Smiles: Let Us Help You Shine</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">EXCELLENT DENTAL CLINIC & ORTHODONTIC CENTRE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Carousel End -->
    </div>

    <!-- Add this CSS style block in your <head> section -->

    <div class="container-fluid about py-5" id="whom">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-8 wow fadeInLeft" data-wow-delay="0.2s">
                    <div>
                        <h4 id="whomcontent" class="text-primary">Who We Are</h4>
                        <h1 id="whomcontent2">EXCELLENT DENTAL CLINIC &<br /> ORTHODONTIC CENTRE</h1>
                        <p id="whomcontentparag">
                            Welcome to Excellent Dental Clinic & Orthodontic Centre, your trusted destination for advanced dental care in Ruwi, Muscat, Oman. Under the expert leadership of Dr. Akif Minhaj, who brings over 20 years of experience in dentistry, we provide a comprehensive range of services.
                            <br />
                            Our clinic specializes in dental implants (services available soon), orthodontic treatments, root canal treatments, and teeth whitening. We also offer child dental care, replacement of lost teeth, and teeth crowns (Ceramic and Zirconia). Additionally, we treat bleeding gums and pyorrhea, design stunning smiles, and offer dental jewellery for an elegant touch.
                            <br />
                            We are proud to provide professional services with Omani staff and a lady doctor available, ensuring personalized care for all.

                            At Excellent Dental Clinic, our clinic is supported by Omani staff and a lady doctor, combining cutting-edge technology with a patient-first approach to help you achieve the healthy, radiant smile you deserve!
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-primary rounded position-relative overflow-hidden">
                        <div class="rounded-bottom">
                            <img src="/Content/img/carousel-111.jpg" class="img-fluid rounded-bottom w-100" alt="whoweare">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Services Start -->
    <div class="container-fluid service" style="background-color: white; ">
        <div class="container ">
            <div class="text fadeInUp" data-wow-delay="0.2s" id="servicesec">
                <!--<h4 class="text-primary">Our Services</h4>-->
                <h1 class="text-primary display-5 mb-4">OUR SERVICES</h1>
                <p class="mb-0" id="serviceparag">
                    At Excellent Dental Clinic & Orthodontic Centre, we are committed to delivering outstanding dental care for patients of all ages. Our wide range of services includes dental implants, orthodontics, child dental care, conservative dentistry, teeth replacement, and advanced treatments for gum disease and pyorrhea. We also specialize in smile design, teeth whitening, dental jewellery, root canal therapy, and more, helping you achieve a healthy and radiant smile.

                    Utilizing the latest techniques and state-of-the-art technology, our expert team ensures each patient receives personalized, gentle, and effective care.
                </p>
            </div>

            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-1.jpg" alt="Img Orthodontic" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4"> Orthodontic Treatment</a>
                            <p class="mb-4">
                                Our orthodontic treatments at Excellent Dental Clinic & Orthodontic Centre are designed to straighten teeth, correct bite issues, and enhance smiles for patients of all ages.your dental health is our priority .
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="Orthodontics.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-2.jpg" alt="Img Dental Implant" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4"> Dental Implant</a>
                            <p class="mb-4">
                                Dental implants provide a permanent and secure solution for replacing missing teeth, effectively restoring function, enhancing the appearance of your smile, and boosting your overall confidence.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="DentalImplants.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <div class="service-img">
                                <img class="img-modal" src="/content/img/service-3.jpg" alt="Img Teeth Whitening" id="servicesize">
                            </div>
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Teeth Whitening</a>
                            <p class="mb-4">
                                Lorem ipsum dolor sit amet consectetur Teeth whitening treatments provide a safe and effective way to achieve a brighter, more radiant smile.adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="ScalingPolish.html">Learn More</a>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-4.jpg" alt="Img Root canal" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Root canal treatment and Filling</a>
                            <p class="mb-4">
                                Root canal treatment and fillings are essential procedures for saving damaged teeth, relieving pain, and restoring their natural function.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="RootFillExtrac.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-5.jpg" alt="Img child dental" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">child dental care</a>
                            <p class="mb-4">
                                Child dental care focuses on maintaining healthy teeth and gums, ensuring a strong foundation for lifelong oral health.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="Childdental.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-6.jpg" alt="Img Dental Crown" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Dental Crown(Zirconia & Ceramic)</a>
                            <p class="mb-4">
                                Dental crowns, available in zirconia and ceramic, provide durable and natural-looking solutions for restoring damaged or weakened teeth.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="CrownBridge.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-7.jpg" alt="Img Dental Jewellery" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Dental Jewellery</a>
                            <p class="mb-4">
                                Dental jewellery adds a unique and stylish touch to your smile, allowing for personalized expression through beautiful decorative accents.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="GumSmileJewellery.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-8.jpg" alt="Img lost teeth" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">replacement of lost teeth</a>
                            <p class="mb-4">
                                Replacement of lost teeth restores functionality and aesthetics, helping to improve oral health and confidence with options like implants, bridges, or dentures.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="CrownBridge.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img class="img-modal" src="/content/img/service-9.jpg" alt="Img pyorrhea" id="servicesize">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">pyorrhea</a>
                            <p class="mb-4">
                                Pyorrhea, or periodontal disease, involves inflammation and infection of the gums, leading to the loss of supporting bone if left untreated, requiring prompt care to restore gum health.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="GumSmileJewellery.html">Learn More</a>
                        </div>
                    </div>
                </div>


                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>


            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- FAQs Start -->
    <div class="container-fluid faq-section pb-5" id="faqask">
        <div class="container pb-5 overflow-hidden">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" id="faqasktemp">
                <h1 class="text-primary display-5 mb-4">Frequently Asked Questions</h1>
                <p class="mb-0">Get quick answers to some common questions about our dental services and clinic.</p>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                        <div class="accordion-item rounded-top">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    How often should I get a dental check-up?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">A dental check-up is recommended every six months for optimal oral health.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    What are the clinic’s working days?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Our clinic operates from Saturday to Thursday.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    How can I book an appointment?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Call us, visit our website, or walk in during our hours.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    Do you offer payment plans?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Yes, we provide flexible payment options. Contact us for details.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    What services does your clinic offer?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">We provide a comprehensive range of dental services, including orthodontics, pediatric dental care, teeth replacement options, gum treatments, smile design, and teeth whitening.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    Do you have Omani staff?
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Yes, we have Omani staff available to ensure personalized care for our patients.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                    Do you have lady doctors?
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Yes, we have lady doctors available, providing professional and compassionate care.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-primary rounded">
                        <img src="/content/img/Dr Minhaj.jpg" class="img-fluid w-100" alt="Drphoto" id="faqimg">
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- FAQs End -->
    <!-- Blog Start -->
    <!--<div class="container-fluid blog pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Our Blog & News</h4>
                <h1 class="display-5 mb-4">Articles For Pro Traders</h1>
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
                </p>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item p-4">
                    <div class="blog-img mb-4">
                        <img src="/Content/img/service-1.jpg" class="img-fluid w-100 rounded" alt="">
                        <div class="blog-title">
                            <a href="#" class="btn">Dividend Stocks</a>
                        </div>
                    </div>
                    <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                    <p class="mb-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit error corporis accusamus labore....
                    </p>
                    <div class="d-flex align-items-center">
                        <img src="/Content/img/testimonial-1.jpg" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                        <div class="ms-3">
                            <h5>Admin</h5>
                            <p class="mb-0">October 9, 2025</p>
                        </div>
                    </div>
                </div>
                <div class="blog-item p-4">
                    <div class="blog-img mb-4">
                        <img src="/Content/img/service-2.jpg" class="img-fluid w-100 rounded" alt="">
                        <div class="blog-title">
                            <a href="#" class="btn">Non-Dividend Stocks</a>
                        </div>
                    </div>
                    <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                    <p class="mb-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit error corporis accusamus labore....
                    </p>
                    <div class="d-flex align-items-center">
                        <img src="/Content/img/testimonial-2.jpg" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                        <div class="ms-3">
                            <h5>Admin</h5>
                            <p class="mb-0">October 9, 2025</p>
                        </div>
                    </div>
                </div>
                <div class="blog-item p-4">
                    <div class="blog-img mb-4">
                        <img src="/Content/img/service-3.jpg" class="img-fluid w-100 rounded" alt="">
                        <div class="blog-title">
                            <a href="#" class="btn">Dividend Stocks</a>
                        </div>
                    </div>
                    <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                    <p class="mb-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit error corporis accusamus labore....
                    </p>
                    <div class="d-flex align-items-center">
                        <img src="img/testimonial-3.jpg" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                        <div class="ms-3">
                            <h5>Admin</h5>
                            <p class="mb-0">October 9, 2025</p>
                        </div>
                    </div>
                </div>
                <div class="blog-item p-4">
                    <div class="blog-img mb-4">
                        <img src="/Content/img/service-4.jpg" class="img-fluid w-100 rounded" alt="">
                        <div class="blog-title">
                            <a href="#" class="btn">Non-Dividend Stocks</a>
                        </div>
                    </div>
                    <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                    <p class="mb-4">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam suscipit error corporis accusamus labore....
                    </p>
                    <div class="d-flex align-items-center">
                        <img src="/Content/img/testimonial-1.jpg" class="img-fluid rounded-circle" style="width: 60px; height: 60px;" alt="">
                        <div class="ms-3">
                            <h5>Admin</h5>
                            <p class="mb-0">October 9, 2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Blog End -->
    <!-- Testimonial Start -->



    <div class="container-fluid testimonial pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h1 class="text-primary display-5 mb-4">Our Clients' Reviews</h1>
                <p class="mb-0">
                    At Excellent Dental Clinic, we prioritize your dental health and comfort. Here’s what our valued clients say about their experiences with us.
                </p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="/Content/img/testimonial-1.jpg" class="img-fluid" alt="ClientImage">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">
                            "I visited the Excellent Dental Clinic and had a fantastic experience. The staff is extremely professional and made me feel comfortable throughout my visit. I highly recommend this clinic to anyone looking for quality dental care!"
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">سارة الحارثي</h4>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="/Content/img/testimonial-2.jpg" class="img-fluid" alt="ClientImage">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">
                            "The team at the Excellent Dental Clinic is very professional and caring and they are so friendly.They are vey punctual too. I felt relaxed during my visit, and the results were amazing!I really recomended"
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">عمر المحروقي</h4>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="/Content/img/testimonial-3.jpg" class="img-fluid" alt="ClientImage">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">
                            "I had a fantastic experience! The Excellent Dental Clinic has a warm and welcoming atmosphere, and the staff are always ready to help me. My teeth have never felt healthier!"
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">ليلى الشيباني</h4>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="/Content/img/testimonial-2.jpg" class="img-fluid" alt="ClientImage">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">
                            "When I came to the Excellent Dental Clinic, my experience was amazing. The staff is extremely professional, and I felt I was in safe hands. Thank you for the wonderful care!"
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">أحمد السليماني</h4>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

 

    <a href="https://wa.me/+96895916792" target="_blank" id="whatsapp" >
        <img src="../Content/img/whatsapp.png" id="whatsappimg" alt="WhatsApp" >
    </a>



    <!-- Testimonial End -->
    <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container py-5 border-start-0 border-end-0" style="border: 1px solid; border-color: rgb(255, 255, 255, 0.08);">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item">
                        <a href="index.html" class="p-0">
                            <h4 class="text-white">Excellent Dental Clinic</h4>
                            <!-- <img src="img/logo.png" alt="Logo"> -->
                        </a>
                        <p class="mb-4">
                            At Excellent Dental Clinic in Ruwi, Muscat, we are dedicated to delivering comprehensive dental care. Our services include orthodontics, smile design, dental implants, and more, all aimed at ensuring you achieve the healthy, beautiful smile you deserve. We take pride in our diverse team, which includes multiple Omani staff members and lady doctors, ensuring a comfortable and culturally sensitive experience for all our patients.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Excellence in dental care for a healthier, brighter smile!</h4>
                        <a href="index.html"><i class="fas fa-angle-right me-2"></i> Home</a>
                        <a href="about.html"><i class="fas fa-angle-right me-2"></i> About</a>
                        <!-- Dropdown for Services -->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:700;font-size:20px">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                                <li><a class="dropdown-item" href="Orthodontics.html">Orthodontics</a></li>
                                <li><a class="dropdown-item" href="DentalImplants.html">Dental Implants</a></li>
                                <li><a class="dropdown-item" href="ScalingPolish.html">Teeth Whitening-Scaling & Polishing</a></li>
                                <li><a class="dropdown-item" href="RootFillExtrac.html">Root Canal-Filling-Extraction </a></li>
                                <li><a class="dropdown-item" href="CrownBridge.html">Teeth Crown & Bridge</a></li>
                                <li><a class="dropdown-item" href="Childdental.html">Child Dental Care</a></li>
                                <li><a class="dropdown-item" href="GumSmileJewellery.html">Gum Treatment-Smile Design-Dental Jewellery</a></li>
                            </ul>
                        </div>
                        <!-- End of Dropdown -->

                        <a href="contact.html"><i class="fas fa-angle-right me-2"></i> Contact us</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Contact Info</h4>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-map-marker-alt text-primary me-3"></i>
                            <p class="text-white mb-0">PB No:218, PC114, Building no 603, Way no 2710, CBD, Ruwi, Muscat, Sultanate of Oman</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-envelope text-primary me-3"></i>
                            <p class="text-white mb-0">akifminhaj@gmail.com</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fa fa-phone-alt text-primary me-3"></i>
                            <p class="text-white mb-0">+968 9591 6792 <br /> +968 9646 5871</p>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="fab fa-firefox-browser text-primary me-3"></i>
                            <p class="text-white mb-0">www.edcminhaj.com/</p>
                        </div>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/people/Excellent-Dental-Clinic/100090170377056/"><i class="fab fa-facebook-f text-white"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="#"><i class="fab fa-twitter text-white"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.instagram.com/excellentdentalmct/?__d=1%3Futm_source%3Dig_embed"><i class="fab fa-instagram text-white"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href="https://www.instagram.com/excellentdentalmct/?__d=1%3Futm_source%3Dig_embed"><i class="fab fa-linkedin-in text-white"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>https://phoenix-ibs.com</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end text-body">
                    Designed By <a class="border-bottom text-white" href="https://phoenix-ibs.com">Farnaz zahedi</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/lib/wow/wow.min.js"></script>
    <script src="/Content/lib/easing/easing.min.js"></script>
    <script src="/Content/lib/waypoints/waypoints.min.js"></script>
    <script src="/Content/lib/counterup/counterup.min.js"></script>
    <script src="/Content/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/Content/lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Template Javascript -->

    <script src="../Content/js/main.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        // Get all images with class "img-modal" and apply the modal functionality
        var images = document.getElementsByClassName("img-modal");
        for (var i = 0; i < images.length; i++) {
            images[i].onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
</body>

</html>